environment/
__pycache__/
*.pyc
.vscode/
config.py

build/
dist/
*.spec

resources_rc.py
assets/avatars/
utils/email_service.py
utils/theme_manager.py
views/apropos.py
views/parametres_widget.py
views/main_window.py
data/